* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: sans-serif;
}

.contentExpand {
    margin: 50px 0;
    width: 100%;
    max-width: 622px;
    min-height: 200px;
    border: 1px solid rgb(102, 204, 153);
    border-radius: 5px;
    border-top-color: rgb(55, 163, 109);
    border-right-color: rgb(55, 163, 109);
    padding: 10px;
    font-family: sans-serif;
}
.contentShrink {
    width: 100%;
    max-width: 600px;
    height: 96%;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.titleQuestion {
    color: rgb(102, 204, 153);
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
}

.expand {
    padding: 5px;
    background-color: rgb(246, 246, 246);
    color: rgb(170, 170, 170);
    line-height: 13px;
    font-size: 14px;
    font-family: sans-serif;
    cursor: pointer;
}

.shrink {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: rgb(246, 246, 246);
    color: rgb(170, 170, 170);
    line-height: 13px;
    font-size: 14px;
    cursor: pointer;
}


img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    float: left;
    filter: invert(78%) sepia(1%) saturate(0%) hue-rotate(84deg) brightness(88%) contrast(89%);
}

.textareaExpand {
    width: 100%;
    max-width: 600px;
    height: 150px;
    background-color: rgb(246, 246, 246);
    margin: 9px 0px;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.5em;
    border: none;
}

.textareaExpand:focus {
    outline: 0;
    background-color: white;
}

.textareaShrink {
    height: 100%;
    background-color: white;
    margin: 0;
}

textarea::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: rgb(223, 219, 219);
}

.btnSubmit {
    width: 100%;
    height: 50px;
    background-color: rgb(102, 204, 153);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 2px;
}

.btnSubmit:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(55, 163, 109);
}

/* @media screen and (min-width: 1900px) {
    .contentShrink {
        max-width: 1000px;
    }
} */